/*General Styling*/
body{
	font-family: serif;
	background-color: #FAEBD7;
	margin: 0;
	padding: 0;
}
/* pop up name */
#namePopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999; 
}
.popup-box {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.popup-box input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.popup-box button {
    padding: 10px 22px;
    background: #A3A380;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.moving-text {
    display: inline-block;
    font-size: 25px;
    color: #6B4423;
    position: relative;
    white-space: nowrap;  
    animation: slideLeft 10s linear infinite;
    background-color: navajowhite;
}

@keyframes slideLeft {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* landing page */
    #landing {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('background home.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    #landing::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 197, 195, 0.5);
      z-index: -1;
    }

    #landing h1 {
      font-size: 3em;
      margin-bottom: 30px;
      color: #8B4513;
    }

    #landing button {
      padding: 15px 40px;
      font-size: 1.2em;
      border: none;
      background-color: #A3A380;
      color: white;
      cursor: pointer;
      border-radius: 20px;
      transition: all 0.25s ease;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      position: relative;
      overflow: hidden;
    }

    .landing button::after {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.3);
      transition: 0.4s;
    }

    #landing button:hover::after {
      left: 100%;
    }

    #landing button:hover {
      background-color: #B6B88A;
      transform: translateY(-4px);
      box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
    }

    #landing button:active {
      transform: translateY(3px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

/*heading*/
h1{ 
	text-align: center;
	color: #513B1C;
	margin:20px 0;

 }
/*navigation bar*/
nav{
	background:#FFF5EE;
	width: 900px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 5px 10px;
	border-radius: 22px;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

nav > a {
	color: #483C32;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 22px;
}
/*navigation bar after pressed*/
nav > a:hover {
	background:#614051;
	color:WHITE;
}
/*gambarku*/ 
    .picture img {
      width: 300px;
      height: 400px;
      display: inline-block;
      border-radius: 5px;
    }

/* layout box*/
    .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;             
    background-color: #f5f5f5;
    border-radius: 10px;
    max-width: 800px;          
    margin: 60px auto;         
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: transform 0.45s ease, box-shadow 0.45s ease;
}
  .hero-section img {
     width:350px;
     height: auto;
     border-radius: 10px;
     box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    }

  .hero-text {
     text-align: left;
     max-width: 500px;
    }

  .hero-text p {
     font-size: 18px;
     line-height: 1.5;
     color: #3b2f2f;
    }
  .hero-section:hover {
    transform: translateY(-10px);
  box-shadow: 0 20px 35px rgba(0,0,0,0.25);
}
  .hero-text p: { 
  margin-bottom: 0;    
}
  .hero-text p {
  margin-top: 5px;     
  margin-bottom: 5px;
}
/*welcome font*/
.special-font {
  font-family: "freestyle script", cursive;
  font-size: 80px;   
  display: block;
  margin-bottom: 0x;  
}

/*clock*/
.flip-clock-container {
    position: fixed;
    bottom: 50px;    
    left: 10px;
    display: flex;
    gap: 15px;
    z-index: 1000;
}
.flip-unit {
    text-align: center;
    font-family: serif;
    color: #5a4634;
    display: flex;
    align-items: center;
}
.label {
    font-size: 11px;
    margin-bottom: 2px;
    letter-spacing: 1px;
}
.flip-box {
    background: #f7e9d7;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    min-width: 45px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
    color: #5a4634;
    display: inline-block;
}
/* animation */
.flip {
    animation: flip 0.6s ease-in-out;
}
#ampm {
    font-size: 18px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes flip {
    0% { transform: rotateX(0deg); }
    50% { transform: rotateX(-90deg); }
    100% { transform: rotateX(0deg); }
}

/*footer styling (copyright)*/
.footer {
	background:#FFF5EE;
	color:black;
	text-align: center;
	padding: 10px 0;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 3px solid #483C32;
	font-size: 0.9en;
	box-shadow: 0 -2px 10px rgba(0,0,0,0.3);
	position: fixed;
}
/*copy right*/
.footer p {
	margin:0;
}
}