/*General Styling*/
body{
	font-family: serif;
	background-color: #FAEBD7;
	margin: 0;
	padding: 0;
}

/*heading*/
h1{ 
	text-align: center;
	color: #513B1C;
	margin:20px 0;

 }
/*navigation bar*/
nav{
	background:#FFF5EE;
	width: 900px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 5px 10px;
	border-radius: 22px;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

nav > a {
	color: #483C32;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 22px;
}
/*navigation bar after pressed*/
nav > a:hover {
	background:#614051;
	color:WHITE;
}
/*banner hirono*/
    .banner {
      width: 85%;
      margin: 20px auto;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      background: ;
      padding: 10px 0;
    }

    .banner-track {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      animation: scroll 20s linear infinite;
    }

    .banner-track img {
      flex: 0 0 auto;
      width: 150px;
      height: 200px;
      object-fit: cover;
      margin-right: 20px;
      border-radius: 10px;
      display: block;
    }

/*movement hirono*/
    @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(-50%); }
    }
/*website content*/
.content{
	background: #F9F6EE;
	color: black;
	width: 80%;
	max-width: 2500px;
	margin: 40px auto 100px auto;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
	text-align: center;
}
/*main title*/
.content h2{
	margin-bottom: 15px;
	color:#513B1C;
}

.slider-container {
    width: 70%;
    height: 550px;
    margin: 60px auto;
    border: 2px solid #654321;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
    background: #654321;
    box-shadow:2px 2px 15px rgba(0,0,0,0.2);
}

.slider-content {
    width: 100%;
    text-align: center;
}

.slider-content img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
/* responsive design when use different device*/
@media (max-width: 900px) {
    .about-wrapper {
        flex-direction: column;
    }
}

.slider-content p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.arrow {
    font-size: 40px;
    cursor: pointer;
    padding: 20px;
    user-select: none;
}

.arrow:hover {
    opacity: 0.10;
}


/*clock*/
.flip-clock-container {
    position: fixed;
    bottom: 50px;    
    left: 10px;
    display: flex;
    gap: 15px;
    z-index: 1000;
}
.flip-unit {
    text-align: center;
    font-family: serif;
    color: #5a4634;
    display: flex;
    align-items: center;
}
.label {
    font-size: 11px;
    margin-bottom: 2px;
    letter-spacing: 1px;
}
.flip-box {
    background: #f7e9d7;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    min-width: 45px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
    color: #5a4634;
    display: inline-block;
}
/* Flip animation */
.flip {
    animation: flip 0.6s ease-in-out;
}
#ampm {
    font-size: 18px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes flip {
    0% { transform: rotateX(0deg); }
    50% { transform: rotateX(-90deg); }
    100% { transform: rotateX(0deg); }
}

/*footer styling (copyright)*/
.footer {
	background:#FFF5EE;
	color:black;
	text-align: center;
	padding: 10px 0;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 3px solid #483C32;
	font-size: 0.9en;
	box-shadow: 0 -2px 10px rgba(0,0,0,0.3);
	position: fixed;
}
.footer p {
	margin:0;
}
}