/* General Style */
body {
    font-family: serif;
    background-color: #FAEBD7;
    margin: 0;
    padding: 0;
}

/* Heading */
h1 {
    text-align: center;
    color: #513B1C;
    margin: 20px 0;
}

/* Navigation Bar */
nav {
    background: #FFF5EE;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 22px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
}

nav a {
    color: #483C32;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;
}

nav a:hover {
    background: #614051;
    color: white;
}

/* wrapper */
.about-wrapper {
    width: 95%;
    max-width: 1400px;
    margin: 40px auto;
    display: flex;
    gap: 25px;
}

/* left box (my picture) */
.photo-panel img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
/*background gambar*/
.photo-panel {
    flex: 1;
    background: #FAF1E6;
    padding: 15px;
    border-radius: 20px;
}

/* middle box (about me) */
.text-panel {
    flex: 2;
    background: #F7ECE1;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.text-panel h2 {
    margin-top: 0;
    color: #3B2C1D;
}

.slide-box {
    background: #EFE1D1;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.slide-box p {
    margin: 30px 0;
}

/* right box (fact) */
.facts-panel {
    flex: 1;
    background: #F8F2EA;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 20px;


}
 /* fact edit style*/ 
.facts-panel h3 {
    color: #3B2C1D;
}

.facts-panel ul {
    padding-left: 30px;
}

.facts-panel li {
    margin-bottom: 20px;
}

/*skill*/ 
#skills h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  padding: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skill-card {
  background-color: brown;
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 140px;
  text-align: center;
  font-size: 14px;
  transition: transform 0.2s;
}

.skill-card:hover {
  transform: translateY(-20px);
}

.bar {
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
  height: 8px;
  margin-top: 5px;
}

.progress {
  background-color: #ffb400;
  height: 100%;
  width: 0%;
  border-radius: 8px;
  transition: width 1s ease-in-out;
}

/* Quote font */
.quote {
    margin-top: 20px;
    font-style: italic;
    color: #6D5643;
}
/* responsive design when use different device*/
@media (max-width: 900px) {
    .about-wrapper {
        flex-direction: column;
    }
}

/* 3 box (slide show)*/
.gallery-slideshow {
    display: flex;
    justify-content: center;
    gap: 28px;
    margin: 50px auto;
    flex-wrap: wrap;
}

.slide-box {
    width: 270px;
    height: 330px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    transition: 0.35s ease;
    background-color: brown;
}

.slide-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.20);
}

.slides {
    width: 100%;
    height: 100%;
    position: relative;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    border-radius: 18px;
    animation: fadeSlide 12s infinite;
    transition: 0.3s ease;
}

/* one by one picture come out  */
.slides img:nth-child(1) { animation-delay: 0s; }
.slides img:nth-child(2) { animation-delay: 4s; }
.slides img:nth-child(3) { animation-delay: 8s; }
.slides img:nth-child(4) { animation-delay: 12s; }
.slides img:nth-child(5) { animation-delay: 16s; }
.slides img:nth-child(6) { animation-delay: 20s; }

/* animation for picture */
@keyframes fadeSlide {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}
/*video*/
    main {
      flex: 1;
      text-align: center;
      padding: 20px;  
    }

/*video*/
    main video {
      width: 100%;
      max-width: 900px;
      border-radius: 10px;
      margin-bottom: 30px;
    }

/*table goals*/ 
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;          
  margin: 0 auto;      
  margin-bottom: 100px; 
  text-align: center;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
  
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: brown;
  color: white;
  text-align: center;
}

/* clock */
.flip-clock-container {
    position: fixed;
    bottom: 50px;
    left: 10px;
    display: flex;
    gap: 15px;
}

.flip-box {
    background: #f7e9d7;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    min-width: 45px;
    text-align: center;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

.flip {
    animation: flip .6s ease-in-out;
}

@keyframes flip {
    0% { transform: rotateX(0); }
    50% { transform: rotateX(-90deg); }
    100% { transform: rotateX(0); }
}

/* --- Fade-in Slide Up Animation --- */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.delay1 { animation-delay: 0.2s; }
.delay2 { animation-delay: 0.4s; }
.delay3 { animation-delay: 0.6s; }
.delay4 { animation-delay: 0.8s; }
.delay5 { animation-delay: 1s; }

/*footer styling (copyright)*/
.footer {
    background:#FFF5EE;
    color:black;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #483C32;
    font-size: 0.9en;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.3);
    position: fixed;
}
.footer p {
    margin:0;

}
}