/* General Styling */
body {
    font-family: serif;
    background-color: #FAEBD7;
    margin: 0;
    padding: 0;
}

/* Heading */
h1 { 
    text-align: center;
    color: #513B1C;
    margin: 20px 0;
}

/* Navigation bar */
nav {
    background: #FFF5EE;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 22px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);

}

nav > a {
    color: #483C32;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;
}

nav > a:hover {
    background: #614051;
    color: WHITE;
    
}

/* Website content */
.content {
    background: #F9F6EE;
    color: black;
    width: 80%;
    max-width: 2500px;
    margin: 40px auto 100px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.content h2 {
    margin-bottom: 15px;
    color: #513B1C;
}


@keyframes flip {
    0% { transform: rotateX(0deg); }
    50% { transform: rotateX(-90deg); }
    100% { transform: rotateX(0deg); }
}

.gallery-container {
    width: 80%;
    max-width: 1200px;
    margin: 40px auto 60px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.gallery-item {
    background: #fff7ef;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 14px rgba(0,0,0,0.15);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.gallery-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

/* animation when touch*/
.gallery-item:hover {
    transform: translateY(-12px) rotate(-6deg);
    box-shadow: 0 14px 25px rgba(0,0,0,0.25);
}
/* gallery */
.gallery-section {
    margin: 40px 0;
}

/* caption + line */
.gallery-caption {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #513B1C;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid #b8a28c;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
/* clock*/
.flip-clock-container {
    position: fixed;
    bottom: 65px;
    left: 10px;
    display: flex;
    gap: 15px;
    z-index: 1000;
}

.flip-unit {
    text-align: center;
    font-family: serif;
    color: #5a4634;
    display: flex;
    align-items: center;
}

.flip-box {
    background: #f7e9d7;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    min-width: 45px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
    color: #5a4634;
    display: inline-block;
}

/* Flip animation */
.flip {
    animation: flip 0.6s ease-in-out;
}

#ampm {
    font-size: 18px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*footer styling (copyright)*/
.footer {
    background: #FFF5EE;
    color: black;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-top: 3px solid #483C32;
    font-size: 0.9em;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.3);
    position: fixed;
    bottom: 0;
}

.footer p {
    margin: 0;
}
