/*General Styling*/
body{
	font-family: serif;
	background-color: #FAEBD7;
	margin: 0;
	padding: 0;
}

/*heading*/
h1{ 
	text-align: center;
	color: #513B1C;
	margin:20px 0;

 }
/*navigation bar*/
nav{
	background:#FFF5EE;
	width: 900px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 5px 10px;
	border-radius: 22px;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

nav > a {
	color: #483C32;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 22px;
}
/*navigation bar after pressed*/
nav > a:hover {
	background:#614051;
	color:WHITE;
}

/*website content*/
.content{
	background: #F9F6EE;
	color: black;
	width: 80%;
	max-width: 2500px;
	margin: 40px auto 100px auto;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
	text-align: center;
}
/* FAMILY SECTION */
.family-title {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #4A403A;
  letter-spacing: 2px;
}

.family-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}

.family-card {
  background: #fdf1e0;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.family-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 15px rgba(0,0,0,0.15);
}

.family-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.4s ease;
}

.family-card:hover img {
  transform: scale(1.08);
}

.family-card h3 {
  margin-top: 15px;
  font-size: 20px;
  color: #4A403A;
}

.family-card p {
  font-size: 14px;
  color: #6d5f55;
}

/* POLAROID STYLE */
.polaroid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 20px;
}

.polaroid {
  width: 500px;
  background: white;
  padding: 15px 15px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 18px rgba(0,0,0,0.15);
  transform: rotate(-2deg);
  transition: 0.3s ease;
}

.polaroid:hover {
  transform: rotate(0deg) scale(1.05);
  box-shadow: 0 15px 22px rgba(0,0,0,0.25);
}

.polaroid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.polaroid p {
  margin-top: 10px;
  font-size: 15px;
  color: #4A403A;
  font-weight: bold;
  font-family: serif;
}
.polaroid-slideshow {
    width: 500px;
    margin: 20px auto;
    background: white;
    padding: 15px 15px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 18px rgba(0,0,0,0.15);
    transform: rotate(-2deg);
    transition: 0.2s ease;
}

.polaroid-slideshow:hover {
    transform: rotate(0deg) scale(1.05);
}

.polaroid-slideshow img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.5s ease;
}

/*main title*/
.content h2{
	margin-bottom: 15px;
	color:#513B1C;
}

/*clock*/
.flip-clock-container {
    position: fixed;
    bottom: 50px;    
    left: 10px;
    display: flex;
    gap: 15px;
    z-index: 1000;
}
.flip-unit {
    text-align: center;
    font-family: serif;
    color: #5a4634;
    display: flex;
    align-items: center;
}
.label {
    font-size: 11px;
    margin-bottom: 2px;
    letter-spacing: 1px;
}
.flip-box {
    background: #f7e9d7;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    min-width: 45px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
    color: #5a4634;
    display: inline-block;
}
/* Flip animation */
.flip {
    animation: flip 0.6s ease-in-out;
}
#ampm {
    font-size: 18px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes flip {
    0% { transform: rotateX(0deg); }
    50% { transform: rotateX(-90deg); }
    100% { transform: rotateX(0deg); }
}
/* FADE IN ANIMATION */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInMove 1s ease forwards;
}

.fade-in:nth-child(1) { animation-delay: 0.2s; }
.fade-in:nth-child(2) { animation-delay: 0.35s; }
.fade-in:nth-child(3) { animation-delay: 0.5s; }
.fade-in:nth-child(4) { animation-delay: 0.65s; }
.fade-in:nth-child(5) { animation-delay: 0.8s; }
.fade-in:nth-child(6) { animation-delay: 0.95s; }
.fade-in:nth-child(7) { animation-delay: 1.1s; }
.fade-in:nth-child(8) { animation-delay: 1.25s; }

@keyframes fadeInMove {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/*footer styling (copyright)*/
.footer {
	background:#FFF5EE;
	color:black;
	text-align: center;
	padding: 10px 0;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 3px solid #483C32;
	font-size: 0.9en;
	box-shadow: 0 -2px 10px rgba(0,0,0,0.3);
	position: fixed;
}
.footer p {
	margin:0;
}
}